/*reset*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/*General*/
body {
    background: url(../img/bg.png);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #01b1ea;
    text-decoration: none;
}

a:visited {
    color: #01b1ea;
}

a:hover {
    color: #555555;
}

/*IMAGENES*/
.img-small {
    object-fit: contain;
    max-width: 100%;
    max-height: 230px;
}

/*---
ALERTAS
----*/
.alert {
    padding: 10px;
    display: block;
    width:100%;
    margin: 5px 0 5px 0;
}

.alert-success {
    background: green;
    color: #fff;
    font-weight: bold;
}

.alert-warning {
    background: red;
    color: #fff;
    font-weight: bold;
}

.p-30 {
    padding: 30px;
}

.m-5auto {
    margin: 5px auto;
}

.m-8 {
    margin: 8px 0;
}

/*  CONTAINER*/
.container {
    width: 90%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 1366px;
    margin: 0 auto;
    background: #fff;
    /*box-shadow: 0 0 10px grey;*/
}

/* HEADER  */
#header {
    width: 100%;
    height: 100%;
    max-height: 145px;
    background: #F0F0F0;
}

#logo {
    padding: 18px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#logo img {
   height: 100px;
    margin-right: 20px;
}

#logo a {
    font-size: 40px;
    letter-spacing: 2px;
    color: #01b1ea;
    font-weight: bold;
    text-shadow: 0 2px 1px #222222;
    transition: all .3s ease;
}

#logo a:hover {
    text-shadow: 0 2px 1px #222222, 0 5px 4px #01b1ea;
}

/*MENU*/
#menu {
    background: #222222;
    color: white;
    max-height: 55px;
    border-bottom: 4px solid #01b1ea;
}

#menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#menu ul li {
    transition: background-color .6s;
}
#menu ul li a {
    color: #FFFFFF;
    padding: 20px;
    display: inline-block;
}
#menu ul li:hover {
    background: #01b1ea;
}
/*CONTENEDOR*/
#content {
    display: flex;
    background: #fff;
    min-height: 100vh;
}

#lateral {
    width: 25%;
    height: 100%;
    padding: 10px;
}

/*BLOCKS DE LATERALES*/
.gestion {
    margin-top: 10px;
    list-style-type: none;
}

.gestion i {
    color: #555555;
}
.block-aside {
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
}

.tit-block-aside {
    display: block;
    width: 100%;
    background: #cccccc;
    text-align: center;
    line-height: 32px;
    margin-bottom: 5px;
    color: #222;
    border-bottom: 3px solid #01b1ea;
}

/*ESTILOS FORMULARIOS*/
.form-container {
    margin: 5px auto;
    width: 80%;
    padding: 20px;
    border: 1px solid rgba(230, 233, 238, 0.8);
    box-shadow: 0 9px 10px #ccc;
}

input[type="password"],
input[type="text"],
input[type="email"],
input[type="submit"],
input[type="file"],
input[type="number"],
textarea{
    margin-top: 10px;
}

input[type="password"],
input[type="text"],
input[type="email"],
input[type="file"],
input[type="number"],
select,
textarea{
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 2px #ccc inset;
    background: white;
    padding: 2px;
    color: grey;
    width: 100%;
    transition: all .3s;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus{
    border: 1px solid #01b1ea;
    color: #000;
}

input[type="button"],
input[type="submit"],
button {
    display: block;
    border-radius:3px;
    width: auto;
    padding: 5px 10px 5px 10px;
    color: white;
    background: #2386c1;
    border: 1px solid #2386c1;
    cursor: pointer;
}

/*PRODUCTOS*/
.flex-products{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#central {
    width: 75%;
    padding: 0 30px 0 20px;
}
#central h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0 12px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #c9c9c9;
}

.product-single {
    margin: 4px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nombre-prod {
    font-size: 3rem;
}

.precio {
    font-size: 2.3rem;
    color: #2386c1;
    text-shadow: 1px 2px #c9c9c9;
}
.product-single img {
    max-width: 100%;
}

.product {
    max-width: 350px;
    text-align: center;
    padding: 20px;
    transition: all .3s ease;
    background: #fff;
    max-height: auto;
}
.product:first-child {
    transform: none;
}
.product:hover {
    transform: scale(1.1);
    -webkit-box-shadow: -1px 7px 32px 0px rgba(201,191,201,1);
    -moz-box-shadow: -1px 7px 32px 0px rgba(201,191,201,1);
    box-shadow: -1px 7px 32px 0px rgba(201,191,201,1);
}
.product img {
    width: 150px;
    margin-bottom: 10px;
}

.product h3 {
    text-align: center;
    margin-bottom: 10px;
    line-height: 20px;
    display: block;
}

.product p {
    margin-bottom: 10px;
}

.boton {
    margin-top: 5px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}
.boton-verde {
    background: #43b02f;
    border-radius: 2px;
    color: #fff!important;
    border: 1px solid #43b02f;
}

.boton-naranja {
    color: #fff!important;
    background: #faa800;
}

.boton-rojo {
    color: #ffffff!important;
    background: #ff1524;
}

.product a:hover {
    color: #cccccc;
}

/*footer*/
footer {
    border-top: 5px solid #01b1ea;
    padding: 10px 0 10px 0;
    background: #222222;
    color: #fff;
    text-align: center;
}